.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100dvh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex; /* 确保这是一个Flex容器 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    animation: opacityIn 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    transition: background-color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes bgIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.dialog {
    position: relative;
    width:calc(100% - 40px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    z-index: 10000;
    transform: scale(0);
    animation: scaleIn 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    word-break: break-all;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.dialog h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.dialog p {
    margin-bottom: 20px;
}

.dialog .header {
    margin-bottom: 20px;
}

.dialog .dialog-content {
    margin-bottom: 20px;
}

.dialog .buttons {
    margin-top: 20px;
}

.dialog .dialog-button-cancel {
    padding: 5px;
    border-radius: 5px;
    background-color: #ccc;
    margin: 10px;
    transition:
        background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog .dialog-button-cancel:hover {
    background-color: #aaa;
}

.dialog .dialog-button-confirm {
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin: 10px;
    transition:
        background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog .dialog-button-confirm:hover {
    background-color: #555;
}

.dialog .dialog-button {
    padding: 5px;
    border-radius: 5px;
    background-color: #ccc;
    margin: 10px;
    transition:
        background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog .dialog-button:hover {
    background-color: #aaa;
}

.file-progress {
    width: 100%;
}